*/*.o
*/res
*/Ressources/parametres
*/*.d

*/*/*.o
*/*/res
*/*/Ressources/parametres
*/*/*.d

*/Ressources/IALoup?.txt
*/Ressources/IALoup??.txt
*/Ressources/IALoup???.txt

*/Ressources/IABobble?.txtt